<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% function create() {%>
        <% var x = document.createElement('h1'); %>
        <% x.innerText = "Hello"; %>
        <% document.body.appendChild(x); %>

    <% for(let i=0;i<t;i++){ %>
        <% create(); %>
</body>
</html>